body {
    margin: 10px;
    padding: 0;
}

#map { 
    height: calc( 300px );
    width: calc( 500px );


    border-radius: 5px;
    border: solid green 2px;
}

h1 {
    color: rgb(27, 128, 27);
}

p {
    color: rgb(27, 128, 27);
}

br {
    margin-bottom: 7px;
}